<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.test</string>
  <key>Program</key>
  <string>/Users/ek/go/defi_stats/bin/test.sh</string>
  <key>StartInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>/Users/ek/go/defi_stats/logs/influxdb_errors.txt</string>
</dict>
</plist>
